script(type='text/javascript', src='/vendor/jquery/jquery-3.2.1.min.js')
script(type='text/javascript', src='/vendor/angular/1.6.4/angular.min.js')
script(type='text/javascript', src='/vendor/angular/1.6.4/angular-locale_es-pe.js')
script(type='text/javascript', src='/vendor/angular-animate/1.6.4/angular-animate.js')
script(type='text/javascript', src='/vendor/ui-router/angular-ui-router.min.js')
script(type='text/javascript', src='/vendor/bootstrap/bootstrap.min.js')
script(type='text/javascript', src='/vendor/angular-mocks/angular-mocks.js')
script(type='text/javascript', src='/vendor/snapjs/snap.js')
script(type='text/javascript', src='/vendor/angular-snap/angular-snap.js')
script(type='text/javascript', src='/vendor/charts/loader.js')

script(src='/scripts/app.js')
script(src='/scripts/controllers/dashboard.js')
script(src='/scripts/controllers/configuration.js')