<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\BD\PuntoVenta.mdb;"/>-->
    <add name="Conexion" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PuntoVenta.mdb;"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0"/>
</startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ApplicationServicesBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ApplicationServicesBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.ventatelcel.com:443/ws/index.php"
        binding="basicHttpBinding" bindingConfiguration="ApplicationServicesBinding"
        contract="wsRecargas.ApplicationServicesPortType" name="ApplicationServicesPort" />
    </client>
  </system.serviceModel>
                                                                                      </configuration>
